.cproject
.project
.settings/language.settings.xml
Debug/
Release/
src/sool/Peripherals/SPI/SPI_007_Bckp.7z
inc/sool/Sensors/HX711/hx711-logic.logicsettings
inc/sool/Peripherals/I2C/AN2824 STM32F10xxx I2C optimized examples.pdf
inc/sool/Peripherals/I2C/12 MHz, 24 M Samples [14].logicdata
src/sool/Sensors/AnalogBasic/AnalogBasic.c
inc/sool/Sensors/AnalogBasic/AnalogBasic.h
